#outer-container {
  margin: 40% auto 0 auto;
  border: 1px solid blue;
  min-height: 100px;
  width: 80%;
}

#said-container {
  border: 5px solid orange;
}

#say-container {
  border: 5px solid green;
}
